body{
    margin: 0;
}


.profile-list-container {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;


}
